body{
    margin: 0;
    min-height: 100vh;
}


.velikikont{
    background: linear-gradient(120deg, #0077ff 0%, #fa2e2e 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilnaslika{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: blue;
    border-style: solid;
    border-width: 7px;
    overflow: hidden;
    margin-top: -80px;
}
.manjikont{
    height: 550px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}
.manjikont2{
    display: flex;
    height: 30px;
    width: 100%;
    padding: 20px;
}
.datakont{
    display: flex;
    height: 40px;
    width: 80%;
    justify-content: space-between;

}
.data1{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.drustvene{
    display: flex;
    height: 40px;
    width: 80%;
    justify-content: space-between;
    padding: 30px;
}
.drustslika{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: blue;
    border-width: 3px;
    transition: 0.4s;
}
.drustslika:hover{
    cursor: pointer;
    transform: scale(1.3);
}
.dugmici{
    display: flex;
    height: 40px;
    width: 80%;
    justify-content: space-between;
    padding: 30px;
}
.dugme{
    color:white;
    border-radius: 30px;
    height: 40px;
    width: 130px;
    background-color: rgb(0, 115, 255);
    font-size: medium;
    border: none;
    font-weight: bold;
    transition: 0.4s;
}
.dugme:hover{
    cursor: pointer;
    transform: scale(1.1);  
}